<!DOCTYPE html>
<html ng-app="MyCoche">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<meta charset="UTF-8">
	<title>learn Angularjs</title>
	

		<!-- Angularjs 1.2 sources  -->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<!-- Angularjs 1.2 sources  -->

</head>
<body>


		<script type="text/javascript">
   // Création de module angularjs
  		var MyCoche = angular.module('MyCoche', []);
   // Création de module angularjs 
  		

   // Création de controller ( le controlleur nai du module) de la deuxième manière
    var MesControllers = {};
	    MesControllers.Coche1erController=function($scope){
	    	$scope.voitures = [
	   				{nom:'TOYOTA',prix:15000000},
	   				{nom:'KIA MOTORS',prix:10000000},
	   				{nom:'MERCEDESS',prix:700000},
	   				{nom:'BMW X4',prix:60000000} ,
	   			    {nom:'RENAULT',prix:3000000}
	   			];
	    } 

	    MesControllers.Coche2erController=function($scope){
	    	$scope.moto = [
	   				{nom:'TOYOTA',prix:150},
	   				{nom:'KIA MOTORS',prix:100},
	   				{nom:'MERCEDESS',prix:700},
	   				{nom:'BMW X4',prix:600} ,
	   			    {nom:'RENAULT',prix:300}
	   			];
	    } 
	   		MyCoche.controller(MesControllers);
   // Création de controller 

  	</script>

	
	<div ng-controller="Coche1erController">
		<!-- div englobant la vue -->
			
		Voitures en ventes <br>
		<input type="text" ng-model='nom' > {{nom}}

	 
		<p class="text-muted text-center"> Liste des voitures</p>
		
		<ul>
			<li ng-repeat="V in voitures | filter:nom"> {{ V.nom }} - {{ V.prix | number : fractionSize }}  FCFA</li>
		</ul>

	  <br>
	  <!-- div englobant la vue -->
	</div>


	<div ng-controller="Coche2erController">
		<!-- div englobant la vue -->
			
		Voitures en ventes <br>
		<input type="text" ng-model='nom2' > {{nom2}}

	 
		<p class="text-muted text-center"> Liste des voitures</p>
		
		<ul>
			<li ng-repeat="V1 in moto | filter:nom2"> {{ V1.nom }} - {{ V1.prix | number : fractionSize }}  FCFA</li>
		</ul>

	  <br>
	  <!-- div englobant la vue -->
	</div>

  








<!-- Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Bootstrap 4 -->
</body>
</html>